@import './../../styles/base/_variables.scss';
@import './../../styles/mixins/_include-media.scss';

header.app__header {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background: $color__system-black;
	color: $color__system-white;
	border-bottom: 2px solid $color__brand-red;

	@include media('<lg') {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
}

.logo__wrapper {
	position: relative;
	padding: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	
	img {
		width: 5rem;
		height: 3rem;
		object-fit: contain;

		@include media('<lg') {
			width: 4rem;
			height: 2rem;
		}
	}
}

aside.header-aside {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	font-family: $font__secondary;
	font-size: 1.25rem;
	text-transform: uppercase;
}