@import './../../styles/mixins/_include-media.scss';

.cp24-app__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 62.5% 37.5%;
	grid-template-rows: max-content min-content min-content;
	grid-gap: 0;
	grid-template-areas: 
		"video header"
		"video weather"
		"video traffic"
		"news traffic"
		"news traffic"
		"news traffic";
	height: 100%;

	@include media('<lg') {
		display: flex;
		flex-direction: column;
		height: auto;
		margin-top: 3rem;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color__system-white;
		z-index: 15;
		animation: fadeInBg 1.5s forwards;
		animation-delay: 1s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		pointer-events: none;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 15;
		animation: fadeInBg 0.5s forwards;
		animation-delay: 1s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1711.18 986.48'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ecp24-logo%3C/title%3E%3Cpath d='M256.85,665.34l7.94-21.23c12.71-33.94,25.5-67.85,38-101.86,1.89-5.12,3.88-8.24,10.13-8.85,100.83-9.82,201.79-16.91,303.17-13.9,64,1.91,127.59,7.68,188.93,27.94,22.24,7.35,43.34,17.07,61.7,32,29.85,24.26,39,55.2,29.3,92-10,37.85-34.43,65.58-64.23,89.13-46.78,37-100,62.51-155.71,81.9-65,22.6-131.06,41.84-196.67,62.53a27.2,27.2,0,0,0-8.39,3.71c2.7.14,5.4.39,8.1.39q160.4.11,320.78.32c7.44,0,10.92-2,13.57-9.23q24.91-68.42,51.07-136.39a25.18,25.18,0,0,1,10.48-12q211.56-116.62,423.47-232.6c3.91-2.14,8.65-3.91,13-3.92q147.9-.26,295.8,0c1,0,2,.23,4.85.6L1504.3,804.42h149.3a84.41,84.41,0,0,1-2.06,8.36c-13.89,37.41-28,74.73-41.64,112.22-2.19,6-5.06,8-11.45,8-43.3-.29-86.61.06-129.91-.34-8.76-.08-13.36,1.65-16.44,11-9.06,27.46-19.7,54.39-29.43,81.63-2,5.44-4.52,7.74-10.68,7.74q-142.9-.1-285.8.27c-1.63,0-3.27-.21-6.4-.42,13.17-33.37,26.06-66,39.44-99.88-3.8-.35-6.93-.85-10.07-.88q-167.36-1.42-334.73-3c-7.83-.08-10.86,2.78-13.33,9.67-10.24,28.47-21.15,56.69-31.57,85.1-1.81,4.94-3.93,7.32-9.8,7.31q-325.79-.5-651.56-.64c-1,0-2-.22-3.76-.43.67-2.56,1.09-5,2-7.35,15.37-41.11,31.05-82.11,46-123.38,3-8.19,7.54-11.72,15.64-14.13,88.91-26.41,178.06-52.08,266.31-80.55,34.25-11.06,67-27.44,99.17-43.95,14.31-7.35,27.34-19.42,37.51-32.12,21.43-26.76,14.11-52.88-16.94-67.24-24.93-11.54-51.76-15-78.75-15.94-71.17-2.47-141.67,3.44-211.23,19.2A65.84,65.84,0,0,1,256.85,665.34Zm1003.61-2.88L995.24,810.05c2.44,1,3,1.38,3.6,1.38,66.57.08,133.15.21,199.73-.08,2.81,0,7-3.31,8.18-6.08,6.23-15,11.74-30.36,17.44-45.62C1235.92,728.28,1247.61,696.88,1260.46,662.46Z' transform='translate(-104.41 -46.76)'/%3E%3Cpath d='M954.53,492.42c7.19-19.47,14-38.11,21-56.7q69.63-186.37,139.12-372.81c2.66-7.16,5.9-9.42,13.45-9.43,117.89-.06,235.78-.57,353.67-.7,52.26-.05,104.56-.49,156.78,1.14,38,1.18,75.36,8.28,110.72,23.35,17.94,7.65,34.49,17.46,47.23,32.58,19.7,23.39,23.21,50,15,78.77-14.86,52-47.63,90-92.58,118.23-47.65,29.94-100.6,44.55-155.74,52.54-61.29,8.87-123,5.07-184.53,6-29,.43-57.95.55-86.91-.07-9-.19-12.5,2.95-15.41,11.11-12.86,36-26.59,71.68-39.81,107.55-1.91,5.18-4,8.13-10.43,8.13q-133.36.2-266.73.92C958.31,493,957.33,492.78,954.53,492.42ZM1312,264.33c37.84-1.12,74.51-.58,110.82-3.89,22.19-2,44.38-8.4,65.56-15.72,18.79-6.5,32.52-20.54,39-40.23,5.36-16.2,1-28.54-14.4-35.79-9.19-4.33-19.4-8.36-29.35-8.89-42.18-2.21-84.43-3.18-126.67-4.1-2.59-.05-6.6,3.8-7.71,6.69-11.82,30.72-23.19,61.62-34.64,92.48C1313.79,257.27,1313.29,259.81,1312,264.33Z' transform='translate(-104.41 -46.76)'/%3E%3Cpath d='M954.66,367.35c-5.69,15.31-11.18,30.16-16.72,45-7.55,20.25-15.55,40.35-22.48,60.8-2.5,7.36-6.15,10.77-13.75,11.56-44.67,4.66-89.23,10.68-134,14.18a890,890,0,0,1-174.53-3.68C535.76,488.37,479.52,476.86,428,449c-30.47-16.46-56.44-37.92-71.19-70.32-16.85-37-12.27-74.08,1.65-110.65,18.58-48.82,52.88-84.88,94.94-114.19,55.09-38.39,116.81-61.78,181.4-78.07C738.65,49.6,844.24,42.3,950.89,49.22c38.49,2.5,76.88,6.65,116.69,10.17-6.53,17.56-12.51,33.68-18.51,49.8-7.3,19.64-15,39.14-21.75,59-2.4,7-5.77,8.18-12.43,6.74C964.24,164,913.08,158.26,861.2,161.47c-51.56,3.2-101.77,12.42-148,36.67-33.34,17.47-60.7,41-72.7,78.42C629,312.36,640.09,341,673,359.42c24.87,14,52.27,19.28,80.26,21.95,63.57,6.07,126.24-1.59,188.65-12.92,2.94-.54,5.9-1,8.86-1.43A21.77,21.77,0,0,1,954.66,367.35Z' transform='translate(-104.41 -46.76)'/%3E%3Cpath class='cls-1' d='M1260.46,662.46c-12.85,34.42-24.54,65.82-36.27,97.19-5.7,15.26-11.21,30.59-17.44,45.62-1.15,2.77-5.37,6.07-8.18,6.08-66.58.29-133.16.16-199.73.08-.58,0-1.16-.42-3.6-1.38Z' transform='translate(-104.41 -46.76)'/%3E%3Cpath class='cls-1' d='M1312,264.33c1.25-4.52,1.75-7.06,2.64-9.45,11.45-30.86,22.82-61.76,34.64-92.48,1.11-2.89,5.12-6.74,7.71-6.69,42.24.92,84.49,1.89,126.67,4.1,10,.53,20.16,4.56,29.35,8.89,15.38,7.25,19.76,19.59,14.4,35.79-6.51,19.69-20.24,33.73-39,40.23-21.18,7.32-43.37,13.7-65.56,15.72C1386.55,263.75,1349.88,263.21,1312,264.33Z' transform='translate(-104.41 -46.76)'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		width: 300px;
		height: 172px;
		pointer-events: none;
	}
}


@keyframes fadeInBg {
	0% { opacity: 1; }
	100% { opacity: 0; }
}



/* grid template placement */
.video__wrapper {
	order: 2;
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	align-self: start;
	position: relative;
	width: 100%;
}

.news__wrapper {
	order: 4;
	grid-column: 1 / 2;
	grid-row: 4 / 7;
}

header.app__header {
	order: 1;
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	@include media('>=lg') {
		// border-top: 2px solid $color__brand-red;
		// border-left: 2px solid $color__brand-red;
	}
}

.forecast__wrapper {
	order: 3;
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	@include media('>=lg') {
		// border-left: 2px solid $color__brand-red;
	}
}

.traffic__wrapper {
	order: 5;
	grid-column: 2 / 3;
	grid-row: 3 / 7;
	background: $color__brand-dark_blue;

	@include media('>=lg') {
		// border-left: 2px solid $color__brand-red;
	}
}