@import './../../../styles/base/_variables.scss';
@import './../../../styles/mixins/_include-media.scss';

.loading-placeholder__wrapper {
	position: relative;
	height: 100%;
	width: 100%;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		width: 10%;

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}

@keyframes placeholderGradient {
	0% { background-position: 0% 50% }
	100% { background-position: 100% 50% }
}


//
// * Video
//
.loading__video {
	background: $color__placeholder-gradient;
	background-size: 900% 300%;
	animation: placeholderGradient 1.5s ease infinite;
	border: 2px solid $color__brand-med_blue;

	&:before {
		content: '';
		display: block;
		padding-bottom: 56.25%;
	}
}

//
// * Weather
//
.loading__city-select {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 2rem;

	.fake-title-block,
	.fake-select {
		background: $color__placeholder-gradient;
		background-size: 900% 300%;
		animation: placeholderGradient 2s ease infinite;
		border: 1px solid $color__brand-med_blue;
		border-top: none;
		border-left: none;
	}

	.fake-title-block { 
		width: 25%; 

		@include media('<lg') {
			border-top: 2px solid $color__brand-med_blue;
			border-left: 2px solid $color__brand-med_blue;
		}
	}

	.fake-select { 
		width: 75%; 
		border-left: 2px solid $color__brand-med_blue; 
		border-right: none; 

		@include media('<lg') {
			border-top: 2px solid $color__brand-med_blue;
			border-right: 2px solid $color__brand-med_blue;
		}
	}
}

.forecast__wrapper .loading-placeholder__wrapper { height: auto; }
.loading__forecast-list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 20vh;

	.fake-forecast-block {
		width: 20%;
		background: $color__placeholder-gradient;
		background-size: 900% 300%;
		animation: placeholderGradient 2s ease infinite;
		border: 1px solid $color__brand-med_blue;
		border-left: 2px solid $color__brand-med_blue;
		border-bottom: none;

		@include media('<lg') {
			border-bottom: 2px solid $color__brand-med_blue;
		}
		
		&:first-of-type { 
			border-left: none; 

			@include media('<lg') {
				border-left: 2px solid $color__brand-med_blue;
			}
		}
		&:last-of-type { 
			border-right: none; 

			@include media('<lg') {
				border-right: 2px solid $color__brand-med_blue;
			}
		}
	}
}

.loading__traffic-intro {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 2rem;

	.fake-title-block,
	.fake-select {
		background: $color__placeholder-gradient;
		background-size: 900% 300%;
		animation: placeholderGradient 2s ease infinite;
		border: 1px solid $color__brand-med_blue;
		border-top: none;

		@include media('<lg') {
			border-top: 2px solid $color__brand-med_blue;
		}
	}

	.fake-title-block { 
		width: 25%; 
		border-left: none; 

		@include media('<lg') {
			border-left: 2px solid $color__brand-med_blue;
		}
	}

	.fake-select { 
		width: 75%; 
		border-right: none; 

		@include media('<lg') {
			border-right: 2px solid $color__brand-med_blue;
		}

	}
}

.loading__camera-jump {
	background: $color__placeholder-gradient;
	background-size: 900% 300%;
	animation: placeholderGradient 2s ease infinite;
	height: 4rem;
	border-top: 2px solid $color__brand-med_blue;

	@include media('<lg') {
		border: 2px solid $color__brand-med_blue;
		border-top: 1px solid $color__brand-med_blue;
	}
}

.loading__camera-slider {
	background: $color__placeholder-gradient;
	background-size: 900% 300%;
	animation: placeholderGradient 2s ease infinite;
	border: 2px solid $color__brand-med_blue;
	border-left: none;
	border-right: none;
	height: 100%;

	@include media('<lg') {
		border: none;
	}
}

//
// * News
//
.loading__newsfeed {
	background: $color__placeholder-gradient;
	background-size: 900% 300%;
	animation: placeholderGradient 2s ease infinite;
	border: 2px solid $color__brand-med_blue;
	height: 100%;
}

