@import './../../../styles/base/_variables.scss';
@import './../../../styles/mixins/_include-media.scss';

.traffic__wrapper {
	position: relative;
	// display: flex;
	// flex-flow: row wrap;
	border-top: 2px solid $color__brand-red;
	overflow: hidden;
	
	h5.title-block {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		z-index: 1;
		font-size: 0.8rem;
		line-height: 1.5rem;
	}
}

.traffic-intro__wrapper {
	display: flex;

}