@import './../../../styles/base/_variables.scss';
@import './../../../styles/mixins/_include-media.scss';

.forecast-extra {
	display: block;
	position: absolute;
	top: -1rem;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: top 0.2s, opacity 0.2s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color__brand-med_blue;
		background: transparent -webkit-gradient(linear,left top,right top,from($color__brand-med_blue),to($color__brand-med_blue_two)) repeat scroll 0 0;
		z-index: 1;
		opacity: 0.9;
	}

	.forecast-time {
		position: relative;
		z-index: 2;
	}
}

.forecast-extra__content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 2.2rem);
	z-index: 2;

	.temperature {
		margin-right: 1rem;
		text-align: center;

		.icon img {
			width: 60px;
			height: 60px;
		}

		span {
			font-size: 1.5rem;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-left: 1rem;

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 1rem;
			text-transform: uppercase;
			margin-bottom: 0.5rem;

			@include media('<lg') {
				font-size: 0.75rem;
			}

			&:before {
				font-family: $font__primary;
				font-size: 0.6rem;
				line-height: 0.6rem;
				text-transform: uppercase;

				@include media('<lg') {
					font-size: 0.5rem;
					line-height: 0.5rem;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			sup {
				font-family: $font__primary;
			}

			&.wind {
				sup {
					top: -0.25rem;
					text-transform: lowercase;
				}

				.direction {
					margin-left: 0.5rem;
				}
			}
		}
	}

	.description:before { content: 'Forecast'; }
	.wind:before { content: 'Wind'; }
	.humidity:before { content: 'Pressure'; }
}