@import './../../../styles/base/_variables.scss';
@import './../../../styles/mixins/_include-media.scss';

.forecast__wrapper {
	@include media('<lg') {
		border-top: 2px solid $color__brand-red;
	}
}

.forecast-list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: stretch;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: $font__secondary;
	overflow: hidden;
	
	.forecast {
		width: 20%;
		border-right: 1px solid #095793;
		background: transparent -webkit-gradient(linear,left top,right top,from($color__brand-med_blue),to($color__brand-med_blue_two)) repeat scroll 0 0;
		overflow: hidden;
		cursor: pointer;
		
		&:last-of-type {
			border-right: none;
		}

		&.show .forecast-extra {
			pointer-events: auto;
			opacity: 1;
			top: 0;
		}
	}
}

span.forecast-time {
	display: block;
	background: rgba($color__system-black, 0) linear-gradient(to right, $color__brand-dark_blue, $color__brand-dark_blue_two) repeat scroll 0 0;
	color: $color__system-white;
	text-align: center;
	font-size: 1.2rem;
	padding: 0.3rem;

	time {
		text-transform: uppercase;
	}
}

.forecast-icon {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		margin-top: 0.5rem;
		width: 70px;

		@include media('<lg') {
			width: 80%;
		}
	}
}

.forecast-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	@include media('<lg') {
		padding: 0;
	}
	
	img {
		width: 60px;
		margin-bottom: 0.5em;
	}
	
	span.temperature {
		font-size: 2rem;
		color: $color__system-white;
	}
}

.city-select-wrapper {
	select {
		width: 100%;
		padding: 0.3rem;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		font-family: $font__secondary;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: $color__system-white;
		background: $color__system-black;
		transition: border-color 0.2s;
		
		&:focus {
			border-color: $color__system-black;
		}
	}

	select + span.helper:after {
		content: "";
		display: block;
		position: absolute;
		top: -1.3rem;
		right: 0.5rem;
		width: 10px;
		height: 10px;
		border: solid $color__system-white;
		border-width: 0 0.3rem 0.3rem 0;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		pointer-events: none;
	}
}

span.helper {
	position: relative;
	display: block;
	z-index: 1;
}