@import '../base/_variables';

html, body {
	height: 100%;
}

body {
	background: rgb(59,59,83);
	background: radial-gradient(circle, $color__alt-dark 0%, $color__alt-dark_two 100%);
	color: $color__system-white;
	font-family: $font__primary;
	font-size: 16px;
}

img {
	max-width: 100%;
	height: auto;
}

#root	 {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font__secondary;
}
