.title-block {
	font-family: $font__secondary;
	// font-style: italic;
	text-transform: uppercase;
	padding: 0.25rem 0.5rem;
	margin: 0;
	letter-spacing: -1px;

	background: $color__system-black;
	color: $color__system-white;
	transition: background 0.2s, color 0.15s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

	span {
		display: inline-block;
		transform: skew(-7deg);
	}

	&.clickable {
		cursor: pointer;

		// &:hover {
		// 	background: $color__brand-red;
		// 	color: $color__system-white;
		// }
	}

	&.light {
		background: $color__system-white;
		color: $color__system-black;
	}
}